<div class="row">
  <div id="intro" class="col-lg-12">
    <h1><%= t 'socify.site_name' %></h1>
    <p><%= t 'socify.home_description' %></p>
    <p><strong>(Access by invitation only)</strong></p>
  </div>
</div>
